.form-box{
    position: relative;
    width: 600px;
    height: 450px;
    /* background:transparent; */
    display: flex;
    justify-content: center;
    align-items: top;
    /* backdrop-filter: blur(12px); */
    /* color: black; */
    background-color: #6E2C00 ;
}
.form-box.hide{
    display: none;
}
h2{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position:absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.5rem;
    pointer-events: none;
  transition: .5s;

}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    background: transparent;
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px;
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;

}
.forget label a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.forget label a:hover{
    color: blue;
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
button:hover{
    background-color: blue;
    color: #fff;
}
.register{
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin: 25px 0 10px;
}
.register p a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    font-weight:bold;
    transition: 0.5s;
}
.register p a:hover{
    text-decoration: underline;
    color: blue;
}