@tailwind base;
@tailwind components;
@tailwind utilities;

.dot{
  border-radius: 50%;
  border: 4px solid gray;
}
/* body{
  background-color: #212121;
  color: #fff;
  
} */
.login-container{
  scroll-behavior: smooth;
  /* background-color: #007bff; */
  /* width: 10rem; */
  /* transition: 0.5s all ease-in-out; */
  transition: all 0.5s ease-in-out;
}
.img-container{
  width: max-content;
  width: 100%;
}
.btn{
  border: 4px solid #ccc;
  border-top-color:#007bff ;
  animation: move 1s ease-in-out ;
}
@keyframes move {
  0%{
     transform: rotate(0deg);
  }
  
  100%{
    transform: rotate(360deg);
  }
  
}
