@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #212121;
  color: #fff;
  /* font-family: cursive; */
}
.btn{
  border: 4px solid #ccc;
  border-top-color:#007bff ;
  animation: move 1s ease-in-out ;
}
@keyframes move {
  0%{
     transform: rotate(0deg);
  }
  
  100%{
    transform: rotate(360deg);
  }
  
}
